<h1 class="display-3">New Project</h1>

<%= render 'form', project: @project %>

<button type="button" class="btn btn" style="background-color: #DDA0DD;">
    <%= link_to 'Back', projects_path %>
</button>
